*{
    margin: 0px;
    padding: 0%;
}
body{
    min-height: 100vh;
    background-image: linear-gradient( to  bottom , greenyellow 10%, #2f4eff 30% ,#ee16a9 60%);
}
.main{
    max-width: 60vw;
    border:1px solid greenyellow ;
    margin: auto;
    margin-top: 50px;
    padding: 5px 0px 5px 10px;
}
h1{
    text-align: center;
    padding-top: 40px;
}
input{
    width:99%;
    height: 50px;
    
}
ul li{
    list-style: none;
    background-color:rgba(77, 70, 62, 0.618);
    width: 99%;
    height: 40px;
    color: aliceblue;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px 0px 5px 0px;
    position: relative;
}
ul li:hover{
    color: black;
    background-color: antiquewhite;
}
ul li span{
    position: absolute;
right: 10px;
color:red;
font-weight: bold;
cursor: pointer;
}